/* ====共通====*/
html,body{
  font-size: 20px;
  font-family: sans-serif;
  color: #393939;
  background: #ffffff;
}

body,div {
  margin: 0px;
  padding: 0px;
}

h2 {
  margin: 10px;
  padding: 10px;
}

/*====コンテンツ1====*/
.content1-area {
  width: 750px;
  height: 280px;
  background-color: green;
  display: flex;
  margin: 10px;
}

.content1-area-img {
  width: 150px;
  height: 230px;
  background-color: red;
  padding: 10px;
  margin: 10px;
}

.content1-area-img-img150 {
  margin-bottom: 5px;
}

.content1-area-img-img150-box {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  background-color: darkred;
}

.content1-area-img-img150-box-caption {
  width: 500px;
  height: 230px;
  background-color: orange;
  margin: 10px;
  padding: 10px;
}

/*====コンテンツ2====*/
.content2-area {
  width: 750px;
  height: 170px;
  background-color: green;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.content2-area-img {
  margin: 10px;
}